* { 
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}


.header-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6px 0px;
    margin: 0px 0px 2px 0px;
    box-shadow: 0px 0px 8px grey;
}

#headerlogo{
    max-width: 150px;
}

#search{
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    background-color: lightgrey;
}

.fas.fa-map-marker-alt{
    padding: 0px 16px;
}

input{
    width: 140px;
    background-color: lightgrey;
}

.hero-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.explore{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 270px;
    justify-content: space-around;
    align-items: center;
    background: #f2f2f2;
}

.explore p{
    width: 80%;
    text-align: center;
}

a.button1{
    padding: 16px 25px;
    border-radius: 32px;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
}

.step-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.stepcards{
    box-shadow: 1px 2px 5px grey;
    background: #f2f2f2;
    border-radius: 16px;
    margin: 16px 0px;
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-container{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;

}

.restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurantcard{
    background: white;
    width: 80%;
    height: 215px;
    box-shadow: 1px 2px 5px grey;
    border-radius: 16px;
    margin: 16px 0px;
}

.restaurantcard h2{
    margin: 8px 0px 0px 8px;
}

.restaurantcard p{
    margin: 0px 8px;
}

.restaurantimage{
    height: 150px;
    width: 100%;
    min-width: 215px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.footer-container{
    background-color: black;

}

.footer-heading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    justify-content: space-around;
}

.footer-heading h1{
    font-family: 'shrikhand';
    color: white;
}

.footer-heading a{
    color: white;
}