* { 
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto';
    text-decoration: none;
    color: black;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    min-width: 350px;
    max-width: 420px;
}


.header-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6px 0px;
    margin: 0px 0px 2px 0px;
    box-shadow: 0px 0px 8px grey;
}

#headerlogo{
    max-width: 150px;
}

#search{
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    background-color: lightgrey;
}

.fas.fa-map-marker-alt{
    padding: 0px 16px;
}

input{
    width: 140px;
    background-color: lightgrey;
}

.hero-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.explore{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 270px;
    justify-content: space-around;
    align-items: center;
    background: #f2f2f2;
}

.explore p{
    width: 60%;
    text-align: center;
}

a.button1{
    padding: 16px 25px;
    border-radius: 32px;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom right, #FF79DA , #9356DC);
    text-align: center;
}

.step-container{
    display: flex;
    flex-direction: column;
    height: 425px;
    justify-content: center;

}

.step-container h1{
    font-size: 27px;
    margin: 0px 16px 16px 16px;
}

.steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.steps a{
    box-shadow: 1px 2px 5px grey;
    background: #f2f2f2;
    border-radius: 16px;
    margin: 16px 0px;
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps i{
    margin: 16px;
    color: gray;
}

.stepcards{
    display: flex;
    width: 100%;
    align-items: center;
}

.stepnumber{
    margin-left: -21px;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    background: #9356DC;
    height: 33px;
    width: 33px;
    justify-content: center;
    align-items: center;
    color: white;

}
.restaurant-container{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 1050px;
    justify-content: center;
}

.restaurant-container h1{
    font-size: 27px;
    margin: 0px 16px 16px 16px;
}

.restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurants a{
    background: white;
    width: 80%;
    height: 215px;
    box-shadow: 1px 2px 5px grey;
    border-radius: 16px;
    margin: 8px 0px;
}

.restaurantcard{
    background: white;
    width: 100%;
    height: 215px;
    box-shadow: 1px 2px 5px grey;
    border-radius: 16px;
}

.restaurantcaption{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurantcard h2{
    margin: 8px 0px 0px 8px;
}

.restaurantcard p{
    margin: 0px 8px;
}

.far.fa-heart{
    margin-right: 16px;
    transition: ease-in 3s;
    text-decoration-color: #FF79DA;
}

.far.fa-heart:hover{
    background: linear-gradient(to bottom right, #9356DC, #FF79DA);
}

.new{
    color: #008362;
    display: flex;
    justify-content: center;
    background: #99E2D0;
    width: 80px;
}


.restaurantimage{
    height: 150px;
    width: 100%;
    min-width: 215px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

footer{
    background: #353535;
    height: 280px;
}

.footer-container{
    margin-left: 42px;

}

.footerall{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
}

.footer-heading h1{
    font-family: 'shrikhand';
    color: white;
    font-size: 20px;
    padding: 20px 0px;
    font-weight: 100;
}


.footer-heading a{
    color: white;
    margin: 4px 0px;
}

.fas.fa-utensils{
    font-size: 16px;
    color: white;
    margin-right: 19px;
}

.fas.fa-hands-helping{
    font-size: 12px;
    color: white;
    margin-right: 16px;
}